<!-- Footer -->
<footer class="footer">

  {% if page.id %} 
    <div class="text-center">
      <h3 style="color:#000; ">PREV | HOME | NEXT</h3>
      <br><br>
    </div>

  {% endif %}

  {% if page.url == "/" %} 
    <div>
      <a href="http://work.diogorusso.com"><h2>see All Projects</h2></a>
      <br><br>
    </div>
  {% endif %}

  <div class="row text-center">
    <div class="small-12 large-12 columns">
      {% for media in site.social %}
      <a type="button" class="button btn-social" href="{{ media.url }}" target="blank" >
        <i class="fa fa-{{media.name}}"></i>
      </a>
      {% endfor %}
      <br>
      <img src="https://dl.dropboxusercontent.com/u/4471882/diogorusso/me_11.png">
      <br><br>
      <p> Graphic + Experience<br> Design</p>
    </div>
  </div>

</footer>

