
.post-wrap{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top:80px;
}

.post-fields{
	padding: 5px;
}

.post-nav{

    background: #fff;
    width: 100%;
}

.post-sticky{

    position: fixed;
    top: 50px;
    width: 100%;
}

.control a{
	background-color: #EFEFEF;
	margin-top: 1.5em;
	font-size: 1.3em;
	font-weight: lighter;
	color: #8C8C8C;
}

.post{
	min-width: 100%;
}
